venv/
.env
__pycache__/
*.pyc
.DS_Store
node_modules/
dist/
coverage/
tsc-output/
*.log

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI
.terraformrc
terraform.rc

terraform/