services:
  frontend:
    build: 
      context: ./vue-next
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "8000:8080"
    environment:
    - MONGO_URI=mongodb+srv://namanh14122005:test123@signglove-cluster.2fgsv8h.mongodb.net/sign_glove?retryWrites=true&w=majority
    - DB_NAME=sign_glove