fastapi==0.104.1
uvicorn==0.34.3
python-multipart
opencv-python-headless==4.11.0.86
numpy==1.26.4
torch==2.1.0 --extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.16.0 --extra-index-url https://download.pytorch.org/whl/cpu
ultralytics==8.3.0
mediapipe==0.10.14
scikit-learn
tqdm
httpx==0.27.0
pydantic==2.9.2
